#header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
}

#header img {
    width: 100px;
}

#header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header nav ul {
    display: flex;
    justify-content: space-around;
}

#header nav ul li {
    margin-left: 20px;
    list-style: none;
}

#header nav ul li a {
    text-decoration: none;
    color: red;
}
#videocontainer{
    text-align: center;
    padding-top: 120px;
}

form{
    margin-top: 50px;
    text-align: center;
}

@media screen and (max-width: 992px) {
    #video{
        width: 100%;
    }
  }